body {
  display: flex;
  flex-direction: column;
}
 
.logo img {
  height: 40px;   
  width: 1; 

.logo img {
  height: 100px;   
  width: auto;    
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}